<h1>
  <form method="POST" action="/pirates">
    <p>Pirate Name: <input type="text" name="pirate[name]"></p>
    <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
    <p>Pirate Height: <input type="text" name="pirate[height]"></p>





</h1>
